 /* ScrollBar section start*/

 /* width */
::-webkit-scrollbar {
    width: 8px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ScrollBar section end*/

.sidebar{
    display: flex;
    flex-direction: column;
}

.compose__btn{
    padding: 15px 40px !important;
    border-radius: 20px !important;
    box-shadow: 2px 2px 3px #ccc;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    max-width: 150px !important;
    font-weight: 700 !important;
    color: black !important;
    text-transform: capitalize !important;
}

.siderbar__div1{
    max-height: 250px;
    overflow-y: hidden;
}

.siderbar__div1:hover{
    overflow-y: scroll;
}

.sidebaroptns__heading{
    font-size: 15px;
    margin: 0;
    margin-left: 25px;
}

hr{
    border: 1px solid whitesmoke;
    color: whitesmoke;
    width: 100%;
}